<div class="card">
  <div class="card-body">
  <h3>My Car Listings</h3>
  <% @cars.each do |car| %>
    <li style="list-style-type:none"> <strong><%= car.title %></strong> <%= link_to "View listing", car_path(car) %></li>
  <% end %>
  </div>
</div>
