
<div class="row" style="height: 725px;">
  <div class="col-6 text-center float-left px-0" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(https://images.unsplash.com/photo-1571987502227-9231b837d92a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80); background-size: cover; height: calc(100vh -70px);"></div>
  <div class="col-6 d-flex justify-content-center h-100">
    <div class="card my-auto mx-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">You are signed out</h5>
        <p class="card-text">Log in to view your current bookings and all available electric cars.</p>
        <div class="text-center">
          <%= link_to 'Log In', new_user_session_path, :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
