<div class="container-fluid mt-3">
  <% if @user %>
  <div class="card d-flex flex-row justify-content-between" style="width: 100%;">
    <div class="card-body col-4">
      <%= render 'shared/bookings' %>
    </div>
    <div class="card-body col-4">
      <%= render 'shared/carsBookings' %>
    </div>
    <div class="card-body col-4">
      <%= render 'shared/cars' %>
    </div>
  </div>
  <% else %>
</div>
      <%= render 'shared/logout' %>
  <% end %>
