<div class="container-fluid text-center">
  <% if @user %>
  <div class="row">
    <div class="col-12 col-lg-4 text-left">
      <%= render 'shared/bookings' %>
    </div>
    <div class="col-12 col-lg-4 text-left">
      <%= render 'shared/carsBookings' %>
    </div>
    <div class="col-12 col-lg-4 text-left">
      <%= render 'shared/cars' %>
    </div>
  </div>
  <% else %>
</div>
      <%= render 'shared/logout' %>
  <% end %>




