<h1>Cars</h1>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @cars.first.title %></h5>
    <p class="card-text"><%= @cars.first.description %></p>
    <a href="#" class="btn btn-primary">View More</a>
  </div>
</div>
